<div class="page-top">
    <div class="uk-container uk-container-large">

        <h1 class="uk-margin-remove">
            {% block page_title %}{{ mocha.i18n.get('page_title', 'Title') }} <span class="uk-text-lead uk-text-muted uk-visible@m">{{ mocha.i18n.get('page_title_sub', '') }}</span>{% endblock %}
        </h1>

        <ul class="uk-flex-center- uk-flex-right uk-tab">
            {% block page_nav %}
            <li>
                <a href="..." class="uk-visible@m">...</a>
                <a href="..." class="uk-hidden@m" title="..."><i data-feather="sliders" width="20px" height="20px"></i></a>
            </li>
            {% endblock %}
        </ul>
    </div>
</div>

<div class="page-content">
    <div class="uk-container uk-container-large">

        {% block page_content %}...{% endblock %}

    </div>
</div>
