html {
    background: #f8f9fa;
    background: #f2f3f4;
    background: #f2f4f7;
    min-width: 360px;
}
body {
    min-height: 100vh;
}
.uk-container {
    padding-left: 30px;
    padding-right: 30px;
}
.uk-container-large {
    max-width: 1400px;
}

/* Specific Page
======================================================================== */

/* Login
==================================== */

.page-login {
    min-height: auto;
    background: #292b6b;
    background: linear-gradient(154deg, #2c388e 0, #292b6b 75%);
    background: linear-gradient(154deg, #2c388e 0, #33296b 75%);
}
.login-background {
    z-index: 1;
    opacity: 0.045;
}
.login-container {
    z-index: 2;
    margin-top: -75px;
    position: relative;
}
.login-container .uk-button .feather {
    margin-top: -3px;
    margin-left: -2px;
    margin-right: 5px;
}

/* Error
==================================== */

.page-error .block-content {
    background: #fff;
    padding: 100px 0 150px;
    border-bottom: 1px solid #d4d4d4;
}
.page-error h1 {
    font-size: 5rem;
}
.page-error h2 {
    margin-top: 20px;
}


/* Block Navbar
======================================================================== */

.block-navbar .uk-navbar {
    height: 35px;
    padding: 0;
    color: #f4f4f4;
    background: #263288;
    background: linear-gradient(154deg,#263288 0,#6a14a9 75%);
    box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0,.3);
}
.block-navbar .uk-navbar-item,
.block-navbar .uk-navbar-nav>li>a,
.block-navbar .uk-navbar-toggle {
    color: rgba(255, 255, 255, .75);
    height: 35px;
    min-height: 35px;
    padding: 0 13px;
}
.block-navbar .uk-navbar-toggle.uk-open,
.block-navbar .uk-navbar-toggle:focus,
.block-navbar .uk-navbar-toggle:hover {
    color: #f4f4f4;
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
}

.dropdown-caret {
    content: "";
    height: 0;
    width: 0;
    margin-top: 2px;
    margin-left: 2px;
    display: inline-block;
    vertical-align: middle;
    border: 4px solid transparent;
    border-top-color: currentcolor;
}

/* Navbar Commander
==================================== */

.block-navbar .navbar-commander-icon {
    color: rgba(255, 255, 255, .85);
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.15);
}
.block-navbar .navbar-commander-icon.uk-open,
.block-navbar .navbar-commander-icon:focus,
.block-navbar .navbar-commander-icon:hover {
    color: #f4f4f4;
    background-color: rgba(0, 0, 0, 0.3);
}

.navbar-commander {
    padding: 0;
}
.navbar-commander .uk-dropdown-grid {
    min-height: 45vh;
}
.navbar-commander .uk-dropdown-nav {
    font-size: .94rem;
    line-height: 1.6;
}

.navbar-commander-group {
    color: #e4e4e4;
    background: #262626;
    height: 100%;
    padding: 8px 0 12px;
}
.navbar-commander-group .uk-dropdown-nav>li>a {
    color: inherit;
    padding: 5px 14px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
}
.navbar-commander-group .uk-dropdown-nav>li>a:focus,
.navbar-commander-group .uk-dropdown-nav>li>a:hover {
    color: #fff;
    background: rgba(0,0,0,.2);
}
.navbar-commander-group .uk-dropdown-nav>li.uk-active>a {
    color: #ffc20e;
    background: rgba(0,0,0,.3);
}

.navbar-commander-items {
    padding: 8px; /* match .uk-dropdown padding */
}


/* Navbar Search
==================================== */
.navbar-search {
    width: 25vw;
    min-width: 200px;
    margin-left: 10px;
}
.navbar-search .uk-search-icon {
    color: rgba(0,0,0,.4);
    padding-left: 6px
}
.navbar-search .uk-search-icon.navbar-search-clear,
.navbar-search .uk-search-icon.navbar-search-option {
    left: auto;
    padding-right: 6px
}
.navbar-search .uk-search-icon.navbar-search-clear {
    right: 24px;
}
.navbar-search .uk-search-icon.navbar-search-option {
    right: 0;
}

.navbar-search .uk-search-input {
    color: rgba(0,0,0,.6);
    height: 27px;
    padding-left: 30px;
    padding-right: 6px;
    background: rgba(255, 255, 255, .3);
    border: none;
    border-radius: 2px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.navbar-search .uk-search-input:hover,
.navbar-search .uk-search-input:focus {
    background: rgba(255, 255, 255, .9);
    transition: background-color 300ms linear;
}
.navbar-search .uk-search-input::placeholder {
    color: rgba(0,0,0,.4);
    opacity: 1;
}

.navbar-search-result {
    width: 35vw;
    min-width: 250px;
}


/* Block Top
======================================================================== */

.block-top {
    padding: 1px 0 2px;
    background: #e8e9ea;
    background: #e4e6e9;
    border-bottom: 1px solid #d4d4d4;
}
.block-top-space {
    margin-top: 30px
}


/* Block Content
======================================================================== */

.block-content {}


/* Block Footer
======================================================================== */

.block-footer {
    padding:40px 0 50px;
    background: transparent;
}


/* Layout
======================================================================== */

/* Layout tab
==================================== */
.layout-tab .block-content {
    background: #fff;
    padding-bottom: 50px;
    border-bottom: 1px solid #d4d4d4;
}

.layout-tab .page-top {
    background: #f2f3f4;
    padding-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #d4d4d4;
}
.layout-tab .page-top .uk-tab {
    margin-top: -40px; /* -25px; */
    margin-bottom: -1px;
}
.layout-tab .page-top .uk-tab>* {
    padding-left: 10px;
}
.layout-tab .page-top .uk-tab>*>a {
    height: 24px;
    font-size: 1rem;
    padding: 12px 15px;
}

.layout-tab .page-content {}


/* Misc
======================================================================== */

i[data-feather] {
    min-width: 18px;
}
